.items {
    padding: 0.2rem;
    position: relative;
    border-radius: var(--radius-md);
    background: white;
    color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    font-size: 0.9rem;
    box-shadow: 
      0 0 0 1px rgba(0, 0, 0, 0.05),
      0px 10px 20px rgba(0, 0, 0, 0.1);
    min-width: 15rem;
  }
  
  .item {
    display: block;
    margin: 0;
    width: 100%;
    text-align: left;
    background: transparent;
    border-radius: 0.4rem;
    border: none;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
  }
  
  .isSelected {
    background: var(--primary-50);
    color: var(--primary-700);
  }
